
// cursor for clickable elements
.clickable, [clickable] {
  cursor: pointer;
}

// not rendered
.hidden, [hidden] {
  display: none;
}

// visible but not usable
.disabled, [disabled] {
  pointer-events: none;
  opacity: 0.5;
}

// rendered but not visible or usable
.cloaked, [cloaked], [v-cloak] {
  pointer-events: none;
  opacity: 0.0000000000001;
}

//checklist
ul.checklist {
  display: block;
  list-style: none;

  & > li {
    display: block;
    position: relative;
    margin: 0 0 ( $padSpace * .4 ) 0;

    &:before {
      font-size: 120%;
      margin: 0 .5em 0 0;
      line-height: 1em;
      color: $colorSecondary;
    }
  }
}

// text pills/badges
.pill {
  display: inline-block;
  overflow: hidden;
  margin: 0 2px;
  padding: .1em .5em;
  line-height: inherit;
  vertical-align: middle;
  color: $colorDocument;
  background-color: $colorDocumentText;
  border-radius: 100px;
  box-shadow: $shadowPaper;
}

// qr code container
.qr-wrap {
  text-align: center;

  .qr-image {
    margin: 0 auto 1em auto;
    overflow: hidden;
    border-radius: $lineJoin;
    box-shadow: $shadowPaper;
  }

  .qr-info {
    margin: 0 0 1em 0;
  }

  .qr-address {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2em;
    padding: .5em;
    color: $colorDocumentText;
    background-color: darken( $colorDocument, 20% );
    border: $lineWidth $lineStyle $lineColor;
    border-radius: 100px;
  }
}

// common margins
.push-top {
  margin-top: ( $padSpace * 3 );
}
.push-right {
  margin-right: ( $padSpace * 3 );
}
.push-bottom {
  margin-bottom: ( $padSpace * 3 );
}
.push-left {
  margin-left: ( $padSpace * 3 );
}
.push-vetical {
  margin-top: ( $padSpace * 3 );
  margin-bottom: ( $padSpace * 3 );
}
.push-horizontal {
  margin-left: ( $padSpace * 3 );
  margin-right: ( $padSpace * 3 );
}
.push-all {
  margin: ( $padSpace * 3 );
}

// common paddings
.pad-top {
  padding-top: $padSpace;
}
.pad-right {
  padding-right: $padSpace;
}
.pad-bottom {
  padding-bottom: $padSpace;
}
.pad-left {
  padding-left: $padSpace;
}
.pad-vertical {
  padding-top: $padSpace;
  padding-bottom: $padSpace;
}
.pad-horizontal {
  padding-left: $padSpace;
  padding-right: $padSpace;
}
.pad-all {
  padding: $padSpace;
}

// common borders
.border-top {
  border-top: $lineWidth $lineStyle $lineColor;
}
.border-right {
  border-right: $lineWidth $lineStyle $lineColor;
}
.border-bottom {
  border-bottom: $lineWidth $lineStyle $lineColor;
}
.border-left {
  border-left: $lineWidth $lineStyle $lineColor;
}
.border-all {
  border: $lineWidth $lineStyle $lineColor;
}

// media query helpers
.if-small {
  display: none;
  @media #{$screenSmall} {
    display: initial;
  }
}
.if-medium {
  display: none;
  @media #{$screenMedium} {
    display: initial;
  }
}
.if-large {
  display: none;
  @media #{$screenLarge} {
    display: initial;
  }
}

